p.disclaimer {
  font: 1.5rem montserrat;
  text-align: center;
  line-height: 1.6;
}

h4.disclaimer {
  font: 2rem montserrat;
}

.disclaimerParagraph {
  width: 60%;
}

@media (max-width: 400px) {
  p.disclaimer {
    font-size: 1rem;
  }
}
