.filter .MuiSvgIcon-root {
  color: black;
}

.filter .Mui-checked .MuiSvgIcon-root {
  color: rgb(0, 127, 127);
}

.filter .Mui-checked + .MuiTypography-root {
  color: rgb(0, 127, 127);
}

.filter .MuiFormControlLabel-root:hover .MuiTypography-root {
  color: rgb(0, 127, 127);
}

.filter .MuiFormControlLabel-root:hover .MuiSvgIcon-root {
  color: rgb(0, 127, 127);
}

.filter .MuiButtonBase-root:hover .MuiSvgIcon-root {
  color: rgb(0, 127, 127);
}

.filter {
  align-content: center;
}

.filterAnchor {
  color: rgb(219, 165, 34);
}

.filterAnchor:hover {
  color: rgb(0, 150, 140);
}

.modal-header button.close {
  color: white;
}

.modal-header button.close:hover {
  color: rgb(219, 165, 34);
}

.closeButton {
  color: black;
  background-color: white;
}
.closeButton:hover {
  background-color: rgb(219, 165, 34);
}
