p.privacy {
    font: 1.5rem montserrat;
    text-align: center;
    line-height: 1.6;
  }
  
  h4.privacy {
    font: 2rem montserrat;
  }
  
  .privacyParagraph {
    width: 60%;
  }
  
  @media (max-width: 500px) {
    p.privacy {
      font-size: 1rem;
    }
  }
  