.snack .MuiSnackbarContent-root {
  font: 0.9rem montserrat;
  font-weight: 600;
  justify-content: center;
  cursor: pointer;
}

.snack:hover .MuiSnackbarContent-root {
  color: rgb(219, 165, 34);
}
